.card{
    padding: 10px 1px;
    /* background: #0e959586; */
    background-color:  #f1f1f1;   /* #ffffff; */
    width: 300px;
    height: 530px;
    /* z-index: -5; */
    font-size: 0.8rem;
    font-family: "Hammersmith One", sans-serif;
    border-radius: 10px;
    transition:opacity 200ms;
    margin-left: 35%;
    margin-top: 3rem;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
