.card {
    padding: 50px 1px;
    /* background: #0e959586; */
    background-color: #ffffff;
    width: 600px;
    height: 300px;
    /* z-index: -5;
    font-size: 0.8rem; */
    /* font-family: "Hammersmith One", sans-serif; */
    border-radius: 10px;
    transition:opacity 200ms;
    margin-left: 300px;
    margin-top: 50px;
    }

    .imgStyle{
        grid-column: 1 /span 2;
        margin-right: 370px;
        margin-bottom: 150px;
        border-color: aqua;
    }
        .da{
        color: #333;
        display: block;
        font-family: "Montserrat", sans-serif;
        /* letter-spacing: 0.11em; */
        font-size: 0.70em;
        grid-column: 1 /span 2;
        margin-left: 390px;
        margin-bottom: 550px;
        margin-top: 0px;
        left:150px;
        position: absolute;
        top: 210px;
        height:20px;
    }
